{
    "presets": [
        "@babel/preset-react",
        [
            "@babel/preset-env",
            {
                "targets": {
                    "browsers": "last 2 versions"
                }
            }
        ]
    ],
    "plugins": [
        //for async-await support
        "@babel/plugin-transform-runtime"
    ]
}
